@media all and (orientation:portrait){
    .about{
        &-s1,&-s2{
            background-position-x: center!important;
        }
    }
    .blog,.shop{
        &-s1{
            background-position-x: center!important;
        }
    }
    .index-s1{
        background-color: #666!important;
        background-blend-mode: multiply!important;
    }
    .menu{
        &-s1,&-s2,&-s3{
            background-position-x: center!important;
        }
    }
}

.bg{
    &-black{
        background-color: $color__black!important;
    }
}
.login{
    &-form{
        @include set-background($bg__login-img,0,"top left","cover","fixed");
    }
}
.menu{
    &-s3{
        background-blend-mode: multiply !important;
        background-color: #444 !important;
    }
}
.opacity{
    &-8{
        opacity: 0.8;
    }
    &-9{
        opacity: 0.9;
    }
}
.register{
    &-form{
        @extend .login-form;
    }
}
.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}
h1,h2,h3,h4,h5,h6,.nav-link{
    font-family: "KaushanScript";
    letter-spacing: 2px;
}
nav{
    z-index: 10;
}
textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .about,.menu{
        &-s1,&-s2{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
    }
    .contact{
        &-s1{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
    }
    .index,.blog{
        &-s1{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
            background-position: center;
        }
    }
    .navbar{
        &-toggler{
            background-color: #666;
            border-color: #333;
        }
        &-nav{
            background-color: #666;
            border: 1px solid #333;
            opacity: 0.9;
            padding: 10px
        }
    }
}